---
import IndexLayout from '../../layouts/IndexLayout.astro';
import { env } from '../../data/env';

const { lang } = Astro.props;
const title = 'Política de privacidad';
const subtitle = 'Si estás aquí es porque me obliga la ley';
const siteDomain = env.SITE.DOMAIN;
---

<IndexLayout title={title} description={subtitle} lang={lang}>
  <section class="space-y-6">
    <p class="font-bold">Mi compromiso con tus datos personales</p>

    <p>
      Esta política que estás leyendo ahora mismo, responde a todos los interrogantes acerca de cómo
      se tratan y protege la información personal de todas las personas que se relacionan con {
        siteDomain
      } a través de la membresía.
    </p>

    <p>
      Esta web ha sido rigurosamente adaptada a lo dispuesto en el Reglamento UE 2016/679, del
      Parlamento Europeo y del Consejo de 27 de abril de 2016. (RGPD) y la Ley Orgánica 3/2018, de 5
      de diciembre, de Protección de Datos Personales y garantía de los derechos digitales.
    </p>

    <p>
      También te informo que, mediante la aceptación de esta Política de Privacidad, prestas tu
      consentimiento informado, expreso, libre e inequívoco para que los Datos que proporcionas sean
      tratados por {siteDomain}, como responsable del tratamiento, y sobre los que se aplican las
      medidas de seguridad, técnicas y organizativas previstas en la normativa vigente.
    </p>

    <h2 class="font-semibold text-lg">¿Cómo se obtienen tus datos?</h2>
    <p>
      Como ya sabrás, {siteDomain} suministra información sobre los servicios que ofrece como creación
      de contenido, consultoría y servicios de freelance.
    </p>

    <p>Los datos personales que se recaban de dos formas básicas:</p>
    <ul class="list-inside list-disc space-y-2">
      <li>
        <strong>Formulario de suscripción al boletín periódico:</strong> para usuarios que han suscrito
        al boletín y quieren recibir correos semanales en su bandeja de entrada.
      </li>
      <li>
        <strong>Formularios de Registro:</strong> que puedas crear una cuenta y dar acceso a sus funcionalidades.
      </li>
    </ul>

    <h2 class="font-semibold text-lg">Legitimación para el tratamiento de sus datos</h2>
    <p>
      En cumplimiento del Reglamento General de Protección de Datos (RGPD), estas son las bases de
      legitimación para el tratamiento de tus datos personales:
    </p>

    <ul class="list-inside list-disc space-y-2">
      <li>
        <strong>Consentimiento:</strong> Es requisito previo obtener tu consentimiento para efectuar
        cualquier acción de contacto o suscripción.
      </li>
      <li>
        <strong>Relación Comercial:</strong> El tratamiento de tus datos personales relacionado con el
        mantenimiento de nuestra relación comercial.
      </li>
      <li>
        <strong>Interés legítimo:</strong> La base de legitimación para el tratamiento de datos de antiguos
        socios se fundamenta en el interés legítimo de gestionar eficientemente la administración de
        las membresías.
      </li>
    </ul>

    <h2 class="font-semibold text-lg">Categoría de datos que se tratan en esta web</h2>
    <p>
      Las categorías de datos que se tratan cuando te suscribes al boletín o estableces contacto
      directo mediante los mails son: Datos identificativos como nombre, dirección de correo
      electrónico, y los que puedas incluir en el cuerpo del mensaje o mediante documentos adjuntos.
    </p>

    <h2 class="font-semibold text-lg">¿Con qué finalidad se tratan tus datos personales?</h2>
    <p>
      Existen diferentes sistemas de captura de información personal y se trata la información
      facilitada con diversas finalidades:
    </p>

    <h3 class="font-semibold text-md">Usuarios:</h3>
    <ol class="list-inside list-decimal space-y-2">
      <li>
        Mandar consejos semanales a los suscriptores relacionado con tecnología, programación y
        DevOps.
      </li>
      <li>Gestionar y resolver consultas realizadas a través de correo electrónico.</li>
      <li>
        Publicar algunos datos personales, incluyendo imagen o grabaciones sonoras, con el
        consentimiento previo.
      </li>
      <li>Promocionar los servicios de {siteDomain} a través de los datos facilitados.</li>
    </ol>

    <h3 class="font-semibold text-md">Clientes:</h3>
    <p>
      Se tratarán datos de clientes para cumplir con las obligaciones fiscales, realizar
      facturación, procesos de cobro y la gestión de la membresía.
    </p>

    <h2 class="font-semibold text-lg">¿Cuáles son tus derechos cuando nos facilitas sus datos?</h2>
    <p>
      <strong>Derecho a la Confirmación y Acceso:</strong> Tienes derecho a obtener confirmación sobre
      si estamos tratando tus datos personales.
    </p>
    <p>
      <strong>Derecho de Rectificación o Supresión:</strong> Puedes solicitar la rectificación de tus
      datos personales inexactos o su supresión.
    </p>

    <h2 class="font-semibold text-lg">¿Por cuánto tiempo se conservarán tus datos?</h2>
    <p>
      Los datos tratados se mantendrán en tanto no expiren los plazos legales establecidos para la
      conservación de datos, o hasta que el interesado solicite su supresión o revoque el
      consentimiento otorgado.
    </p>

    <h2 class="font-semibold text-lg">¿A qué destinatarios se comunicarán tus datos?</h2>
    <p>
      {siteDomain} puede comunicar tu información personal a proveedores de servicios externos, con quienes
      tiene un contrato que protege la información personal.
    </p>
  </section>
</IndexLayout>
