---
import SectionHeader from '../components/sections/SectionHeader.astro';
import BaseLayout from './BaseLayout.astro';

const { title, description, heroImage } = Astro.props;
const pubDate = new Date();
const tags = ['defaultTag'];
const buttonText = 'defaultButtonText';
const resourceId = 'defaultResourceId';
const fileId = 'defaultFileId';
---

<BaseLayout
  title={title}
  description={description}
  pubDate={pubDate}
  resourceId={resourceId}
  fileId={fileId}
  tags={tags}
  buttonText={buttonText}
>
  <SectionHeader title={title} subtitle={description} />
  <article class="text-gray-700 max-w-xl mx-auto p-6">
    <div class="w-full max-w-full h-auto overflow-hidden rounded-lg shadow-lg mb-8">
      {heroImage && <img width={800} height={450} src={heroImage} alt="Manu" />}
    </div>
    <div class="prose lg:prose-xl mx-auto">
      <slot />
    </div>
  </article>
</BaseLayout>
