---
import SectionHeader from '../components/sections/SectionHeader.astro';
import BaseLayout from './BaseLayout.astro';

const { frontmatter } = Astro.props;
---

<BaseLayout
  title={frontmatter.title}
  description={frontmatter.description}
  pubDate={frontmatter.pubDate || new Date()}
  resourceId={frontmatter.resourceId}
  fileId={frontmatter.fileId}
  tags={frontmatter.tags || []}
  buttonText={frontmatter.buttonText || 'Descargar'}
>
  <div class="resource-layout">
    <SectionHeader title={frontmatter.title} subtitle={frontmatter.description} />
    <div class="max-w-3xl mx-auto px-4 py-8">
      <article class="prose lg:prose-lg mx-auto">
        <slot />
      </article>
    </div>
  </div>
</BaseLayout>
