---
import { getCollection, render } from 'astro:content';
import BaseLayout from '../../layouts/BaseLayout.astro';
import LeadMagnetForm from '../../components/forms/subscribe/LeadMagnetForm.astro';
import SectionHeader from '../../components/sections/SectionHeader.astro';

export async function getStaticPaths() {
  const resources = await getCollection('resources');
  return resources.map((resource: { id: any }) => ({
    params: { slug: resource.id },
    props: { resource },
  }));
}

export const prerender = true;

const { resource } = Astro.props as { resource: any };
const { Content } = await render(resource);

const { title, description, resourceId, fileId, pubDate, tags, buttonText } = resource.data;
---

<BaseLayout
  title={title}
  description={description}
  pubDate={pubDate}
  resourceId={resourceId}
  fileId={fileId}
  tags={tags}
  buttonText={buttonText}
>
  <div>
    <SectionHeader title={title} subtitle={description} />
    <div class="max-w-3xl mx-auto px-4 py-8">
      <article class="prose lg:prose-lg mx-auto">
        <Content />
        <LeadMagnetForm
          resourceId={resourceId}
          title={`Descarga ${title}`}
          description="Déjame tu email y te envío lo prometido"
          buttonText={buttonText}
          fileId={fileId}
          tags={tags}
        />
      </article>
    </div>
  </div>
</BaseLayout>
